@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

:root {
  --main-bg-color: rgb(255, 255, 255);
  --main-grey: rgb(97, 96, 95);
}
* {
  /* background-color: var(--main-bg-color); */
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box; /* includes padding in height and width(the box outside doesnot get bigger when adding padding and stuff)*/
  margin: 0;
  padding: 0;
  font-weight: bold;
  border: none;
}
body {
  /* background: #0d0d0d;
  font-family: "Poppins", sans-serif; */
  width: 80%;
  margin: auto;
  /* line-height: 1.5;
  color: #fff; */
}
.container {
  /* background-color: var(--main-bg-color); */
  font-family: "Montserrat", sans-serif;
  /* margin: auto; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
  /* align-content: center; */
  /* align-items: center; */
  /* align-self: center; */
}
.innerContainer,
.formSec {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sitesec {
  display: flex;
  flex-direction: column;
  background-color: var(--main-grey);
  padding: 4rem;
  border-radius: 5px;
  color: aliceblue;
}
.submBtn {
  margin-top: 5%;
  padding: 0.5rem;
}
.inpClass {
  margin-top: 5%;
  padding: 2%;
}
.labc {
  margin-top: 5%;
}
/* .formSec,
.sitesec {
  display: flex;
  flex-direction: column;
} */
/* .sitesec {
  display: flex;
  flex-direction: column;
}
 */
